.item {
  text-align: center; 
  margin-bottom: 20px; 
}

.details {
  padding: 20px; 
}

.product-rating {
  align-items: center;
}

.product-name {
  font-size: 27px;
  font-weight: bold;
  line-height: 22px;
  margin-bottom: 10px;
}
.product-price {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 0;
}

.product-author {
  font-size: 19px;
  font-weight: bold;
}

.product-review {
  font-size: 17px;
  font-weight: bold;
}
